<body>
  <div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a href="..." class="nav-link">
                <span class="title">Wiki Search</span>
            </a>
        </div>
        <form class="search">
            <label for="search_input">
              <input type="text" [(ngModel)]="searchTerm" name="wikiSearch" placeholder="Search" value="Imaginary">
            </label>
        </form>
    </header>
    <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
</body>
